<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thejoa703.dao.AppUserDao">

      <resultMap id="appUserMap"  type="AppUserDto"> 
   
     <result property="appUserId"  column="APP_USER_ID"/>
     <result property="email"  column="EMAIL"/>
     <result property="password"  column="PASSWORD"/>
     <result property="mbtiTypeId"  column="MBTI_TYPE_ID"/>
     <result property="createdAt"  column="CREATED_AT"/>
     <result property="ufile"       column="UFILE"/>   
   </resultMap>


		<insert id="insert"  parameterType="AppUserDto">
			insert into appuser (APP_USER_ID , EMAIL, PASSWORD, MBTI_TYPE_ID )  
             values ( appuserid_seq.nextval , #{email},#{password},#{mbtiTypeId})
		</insert>
		
		<insert id="insert2"  parameterType="AppUserDto">
			insert into appuser (APP_USER_ID , EMAIL, PASSWORD, MBTI_TYPE_ID,UFILE)  
             values ( appuserid_seq.nextval , #{email},#{password},#{mbtiTypeId},#{ufile})
		</insert>
		
		<!-- <update id="updateHit"   parameterType="int">
			update appuser set bhit = bhit +1 where id=#{id}
		
		</update> -->
			
		<update id = "update" parameterType = "AppUserDto">
			update appuser  
			set  password=#{password} , MBTI_TYPE_ID=#{mbtiTypeId} 
			where app_user_id=#{appUserId}
		</update>
		
		<update id = "update2" parameterType = "AppUserDto">
			update appuser  
			set  password=#{password} , MBTI_TYPE_ID=#{mbtiTypeId} , UFILE=#{ufile}
			where app_user_id=#{appUserId}
		</update>
		
		<delete id = "delete" parameterType="AppUserDto">
			delete from appuser  where app_user_id=#{appUserId}  and password=#{password}
		</delete>
		
		<select resultMap="appUserMap" id = "selectAll">
			select * from appuser   order by app_user_id desc
		</select>
		
		<select resultMap = "appUserMap" id = "select"  parameterType="AppuserDto">
			select * from appuser  where app_user_id=#{appUserId}
		
		</select>
		
		<select resultMap = "appUserMap" id = "selectEmail"  parameterType="AppuserDto">
			select * from appuser  where email=#{email}
		
		</select>
		

		<select  resultType="int" id = "selectLogin" parameterType="AppuserDto">
			select count(*) from appuser  where  email=#{email}  and PASSWORD=#{password}
		</select>

   <!-- 아이디중복 검사  -->
   <!-- 아이디중복 검사  -->
   <select resultType="int" id="iddouble" parameterType="String">
   
   select count(*) cnt from appuser where email=#{email}
   </select>

  <!-- 관리자 해당유저 삭제  -->
  <!-- 관리자 해당유저 삭제  -->
       <delete id = "deleteAdmin" parameterType="AppUserDto">
			delete from appuser  where app_user_id=#{appUserId}  
		</delete>
		
		<update id = "updateAdmin" parameterType = "AppUserDto">
			update appuser  
			set  MBTI_TYPE_ID=#{mbtiTypeId} 
			where app_user_id=#{appUserId} 
		</update>

  
</mapper>

