@charset "UTF-8";

/* index.html - #gallery */
/* index.html - #gallery */
#gallery img{transition: all 0.3s  ease;}
#gallery img:hover{
	transform: translateY(-20px) rotateZ(-5deg);
	box-shadow:0 0.5rem 1rem rgba(0,0,0,0.15);
}